# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Data Science tools
- Evaluating arithmatic expressions in python

Some of the popular languages that Data Scientists use are:

- Python
- R
- SQL
- Julia

Some of the commonly used libraries used by Data Scientists include:

- Scientifics Computing Libraries
- Visualistation Libraries
- Machine Learning and Deep learning Libraries

|Data Science Tools|
-
Apache Spark
Mongo DB
Julia DB

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [9]:
(200/60)

3.3333333333333335

## Author
Andries Janse van Rensburg